page-home {
    .item-md.item-block .item-inner, .item-ios.item-block .item-inner{
        border: none;
    }
    .operator-item{
        padding: 0px;
        text-align: center;
        
        img {
            width: 100%;
            max-width: 200px;
        }
        .name{
            text-align: center;
        }
    }
}
